<div class="wrapper" >
  <h2> <small> Start your journey by selecting the bus route</small></h2>

  <form #inputMap="ngForm">
    <div class="form-group">
      <div class="col-sm-3">
        <input [(ngModel)]="bus_id"
           [typeahead]="routes" [typeaheadOptionField] = "'bus_id'"
           class="form-control" name="bus_id" placeholder="Enter your bus id">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-3" *ngIf=!startFlag>
        <button type="button" class="btn btn-info custom-panel-button" (click)="registerBus()">
          Start Journey
        </button>
      </div>
    </div>
   
  </form>
</div>


<div class="panel-container" *ngIf=startFlag>
   <div  class="panel col-sm-6 ">
      <div class="panel-body text-center">
       Your journey is started!. you can close the journey by clicking End Journey
        <button type="button" class="btn btn-info custom-panel-button" (click)="unregisterBus()">
          End Journey
        </button>
     </div>
  </div>
</div>
