<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> Know Your Bus </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" (click)="navigate('/home')"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a  href="#" (click)="navigate('/contactus')"><span class="glyphicon glyphicon-earphone"></span>Contact Us</a></li>
        <li><a href="#" (click)="navigate('/signup')"><span class="glyphicon glyphicon-pencil"></span> Sign-up</a></li>
        <li><a  (click)=authService.login() *ngIf="!authService.loggedIn()" >
          <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         <li><a  (click)=authService.logout() *ngIf="authService.loggedIn()" >
          <span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
  
