h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

 body{
    background-image: url('../app/images/device-max.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display:block;
    padding:10px !important;
    margin:0;
    max-width: 100%;
    color:black;
    }

    footer{
      color:#555;
      font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 13px;
      }

    h3{
        font-size:22px;
        padding-bottom: 0.1em;
      }
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height:auto;
    }

    .nav li a{
      font-size: 16px;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight:bold;
    }

    .navbar-inverse .navbar-nav>li>a:hover{
       color: black;
       border: 1px solid;
       border-color: #1f9e89;
       border-radius:6px;
    }

    .navbar-inverse .navbar-nav>li>a:focus{
       color: black;
       border: 1px solid;
       border-color: #1f9e89;
       border-radius:6px;

    }

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      height: auto;
      }

    .navbar-inverse .navbar-nav>li>a {
        color:black;
      }

    .navbar-inverse .navbar-brand {
        font-size: 30px;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        color:black;
      }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      body {
          background-image: url('../app/images/min-device.jpg');
      }
      .sidenav {
        padding: 15px;
      }

    .caption-home{
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 10px;
    color:black;
    }

    .subcaption-home{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin-bottom: 30px;
    color:#fff;

      }


    }

     @media screen and (min-width: 767px) {

    .caption-home{
      font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 10px;
      color:black;
      }

    .subcaption-home{
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 20px;
      margin-bottom: 30px;
      color:#fff;
     }

      }


    .panel{
        background: rgba(0, 0, 0, 0.50);
        float: none;
        margin-left: auto;
        margin-right: auto;
        color:white;
      }
    .panel-footer{
        background: rgba(0, 0, 0, 0.50);
      }

    .navbar-inverse {
      background: none;
      border: none;
      color:black;
     }
     .black{
       color:black;
     }

     .button
     {
       -webkit-transition-duration: 0.4s; /* Safari */
       transition-duration: 0.4s;
     }
     .custom-panel-button
     {
       color: #fff;
       background-color: #1f9e89;
       border-color: #1f9e89;
     }
     #panel h4>small, h2>small
     {
       color:#000000;
     }

.home-container{
  padding-top:80px;
}


.btn-home{
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 20px;
}
