<div class="home-container">
   <div class="row text-center">
     <p class="caption-home">
       Track your vehicle Anytime! Anywhere!!
     </p>
  </div>
  <div class="row text-center">
     <p class="subcaption-home">
       Keep track your vehicle and find your nearest vehicle at your convenience
     </p>     
  </div>
  <div class="row text-center">
     <form>
        <button name="Search" class="btn btn-info custom-panel-button btn-home" type="button" (click)="login()">  Track Me!
         </button>
    </form>

  </div>

</div>
